.frame {
  width: 500px;
  border: 50px solid black;

  padding: 50px;
  margin: 20px auto;
}

.canvas {
  width: 500px;
  height: 600px;

  background-color: #4d0f00;
}

.one {
  width: 425px;
  height: 150px;
  background-color: #efb762;
}