.frame {
  width: 500px;
  margin: 20px auto;
  padding: 50px;

  border: 50px solid black;
}

.canvas {
  width: 500px;
  height: 600px;
  overflow: hidden;

  background-color: #4d0f00;
  filter: blur(2px);
}

.one {
  width: 425px;
  height: 150px;
  margin: 20px auto;

  background-color: #efb762;
}

.two {
  width: 475px;
  height: 200px;
  margin: 0 auto 20px;

  background-color: #8f0401;
}

.three {
  width: 91%;
  height: 28%;
  margin: auto;

  background-color: #b20403;
}