body {
  margin: 0;

  background-color: #f5f6f7;
  font-family: sans-serif;
}

.header {
  padding: 32px;

  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347;

  text-align: center;
  text-transform: uppercase;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}