* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin: -4px 0;

  font-weight: 800;
  text-align: center;
}

p {
  margin: 0;
}

.label {
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;

  border: 2px solid black;
}