* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  display: flex;
  justify-content: space-between;

  margin: 0;
}

.label {
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;

  border: 2px solid black;
}

header h1 {
  margin: -4px 0;

  text-align: center;
  letter-spacing: 0.15px;
}

.divider {
  margin: 2px 0;
  border-bottom: 1px solid #888989;
}

.bold {
  font-weight: 800;
}

.large {
  height: 10px;
}

.large, .medium {
  background-color: black;
}